li data-role="list-divider" あなた
li: a href="#town" アベル 人間/戦士 AC30/hp24/毒

li data-role="list-divider" なかま
li: a href="#town" ボブ ドワーフ/侍 AC20/hp120/泥酔
li: a href="#town" クリス エルフ/メイジ AC20/hp120/泥酔
li: a href="#town" ダンテ 巨人/僧侶 AC20/hp120/泥酔
li: a href="#town" エレクトラ マキノイド/盗賊 AC20/hp120/泥酔
